@import url("https://fonts.googleapis.com/css2?family=Miniver&display=swap");

body {
  background-color: yellow;
}

h3 {
  font-family: "Miniver", cursive;
}

.navbar-brand {
  font-family: "Miniver", cursive;
}

#outputDiv {
  background-color: yellow;
  display: none;
}
Footer
